.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    min-width: 500px;
    min-height: 800px;
    align-items: center;
    margin: 200px 0;
}
.contact>a{
    background-color: white;
}
.icon{
    background-color: white;
}
.contact_container{
    
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}