@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
.topcontent{
    position: relative;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.topcontent_container{
    position: absolute;
    top: 300px;
    right: 150px;
}
.topcontent_container>p{
    letter-spacing: 1px;
    text-align: left;
    padding-left: 3px;
    padding-top: 20px;
}
.topcontent_container>a>button{
    margin-top: 30px !important;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
}
.topcontent>h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.topcontent_downloadbtn{
    color: white;
    background-color: #f64c08;
    padding: 10px 30px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
}
.topcontent_workbtn{
    color: white;
    border: 1px solid white !important;
    background-color: transparent;
    font-size: 14px;
    padding: 9px 45px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.topcontent_downloadbtn:hover{
    color: #f64c08;
    background-color: white;
    font-weight: 600;
}
.topcontent_workbtn:hover{
    color: black;
    background-color: white;
    font-weight: 600;
}
